<div class="box p-6 m-auto" style="width: 500px">
<h1 class="title is-1 mb-6 has-text-centered" style="font-family: Dancing Script; color: #F2A19D">Edit Account</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "input" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, class: "input" %>
  </div>

  <div class="field">
    <% province_array = Province.all.map { |s| [s.name.titleize, s.id]}%>
    <%= f.label :province_id %><br />
    <span class="select">
      <%= f.select :province_id, options_for_select(province_array, f.object.province_id)%>
    </span>
  </div>
  <hr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <hr>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
  </div>



  <div class="actions">
    <%= f.submit "Update", class: "button is-link m-1", style: "width: 100%" %>
  </div>
<% end %>


<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "button is-danger m-1", style: "width: 100%", method: :delete %>


</div>