<div class="block">
  <div class="is-flex m-5">
  <% @flowers.each do |f|%>
    <div class="column is-one-fifth">
    <%= link_to f do %>
              <div class="card">
                          <div class="card-image">
                            <figure class="imagem">
                              <%= image_tag f.image, alt: f.name %>
                            </figure>
                          </div>
                          <div class="card-content">
                                      <div class="media">
                                                  <div class="media-left">
                                                  <% if f.sale_price.present? %>
                                                    <p class="title is-4 has-text-red">$<%= f.sale_price %></p>
                                                    <p class="title is-6"><strike>$<%= f.price %></strike></p>
                                                  <% else %>
                                                    <p class="title is-4">$<%= f.price %></p>
                                                  <% end %>
                                                  </div>
                                                    <div class="media-content">
                                                      <p class="title is-5"><%= f.name %></p>
                                                      <p class="subtitle is-6"><%= f.category.name %></p>
                                                    </div>
                                      </div>


                          </div>
              </div>
    <% end %>
                              <div>

                                <% if cart.include?(f) %>
                                  <%= button_to cart_path(f), class: "button is-danger", method: :delete do %>
                                    Remove from cart
                                  <% end %>
                                <% else %>
                                  <%= form_with url: cart_index_path, method: :post do %>
                                    <%= hidden_field_tag(:id, f.id) %>
                                    <%= button_tag 'Add to Cart', class: "button is-info" %>
                                  <% end %>

                                <% end %>
                              </div>

    </div>
  <% end %>
  </div>
</div>

<div class="block">
  <%= paginate @flowers %>
</div>
