<div class="block"> <%=  image_tag("background.jpg", alt: "flower shop")  %></div>


<div class="block p-4">

<%= render 'home/template' %>

<div class="block m-auto is-centered">
  <%= link_to 'ALL', root_path, class: "button is-dark" %>
  <%= link_to 'SALE', sale_path, class: "button is-danger is-light" %>
  <%= link_to 'NEW', new_path, class: "button is-success is-light" %>
</div>

<%= render 'flowers/flowers' %>

</div>

