<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-1 " style="font-family: Lavishly Yours; color: #7B6986">Blooms</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">

        <%= link_to "Home", root_path, class: "navbar-item" %>

        <%= link_to "Flowers", flowers_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Categories
        </a>

        <div class="navbar-dropdown">
            <%= link_to "Bouquets", category_path(:id => 14), class: "navbar-item" %>
          <hr class="navbar-divider">
            <%= link_to "Stems", category_path(:id => 13), class: "navbar-item" %>
          <hr class="navbar-divider">
            <%= link_to "Cascade", category_path(:id => 15), class: "navbar-item" %>
          <hr class="navbar-divider">
            <%= link_to "Composites", category_path(:id => 17), class: "navbar-item" %>
          <hr class="navbar-divider">
            <%= link_to "Pomander", category_path(:id => 16), class: "navbar-item" %>
        </div>
      </div>

      <%= link_to "About", about_path, class: "navbar-item" %>
      <%= link_to "Contact", contact_path, class: "navbar-item" %>


    </div>




     <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= image_tag("account.png", width:23) %>
        </a>
      <% if user_signed_in? %>

        <div class="navbar-dropdown">
          <p class="navbar-item" >Hi, <%= (current_user.name).capitalize %>!</strong></p>
          <hr class="navbar-divider">
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
        </div>
      <% else %>
        <div class="navbar-dropdown">
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'  %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
        </div>
      <% end %>
    </div>

      <%= link_to image_tag("cart.png", width:25) , cart_index_path, class: "navbar-item" %>





  </div>


</nav>

