<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-2 has-text-grey-light ">Blooms</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

        <%= link_to "Home", root_path, class: "navbar-item" %>

        <%= link_to "Flowers", flowers_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Categories
        </a>

        <div class="navbar-dropdown">
            <%# <%= link_to "Characters", characters_path, class: "navbar-item" %>
            Bouquets
            Stems
            Composite
            Pomenander
          <hr class="navbar-divider">
        </div>
      </div>

      <%= link_to "About", about_path, class: "navbar-item" %>
      <%= link_to "Contact", contact_path, class: "navbar-item" %>


    </div>



  </div>
</nav>