<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blooms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lavishly+Yours&family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="mb-6 pb-3"></div>

    <% if notice %>
      <p class="message p-4"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="message p-4"><%= alert %></p>
    <% end %>


<div class="block mb-6 pb-6">
    <%= yield %>
</div>

  <nav class="breadcrumb is-small is-centered m-6 p-6" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", root_path%></li>
      <li><%= link_to "Flowers", flowers_path%></li>
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><a href="#">© 2022 Rasmin Patiu </a></li>
    </ul>
  </nav>
  </body>
</html>
